/* App component styling */
.header-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

.header {
    font-size: 4vw;
    font-family: 'sans-serif';
    grid-column-start: 2;
    grid-column-end: 5;
}

.resetButton-container {
    grid-column-start: 5;
    grid-column-end: 6;
}

.app-container {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.images-container {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.points-category {
    margin-left: 1vw;
}

.points-container {
    max-width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.points-slots {
    background-color: rgba(0, 0, 0, 0.6);
    border: 0.1vw solid white;

    height: 7.8vw;
    width: 12vw;
    position: relative;
    border-radius: 1.2vw;

    align-items: center;
}

.points-slots input {
    width: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 0.1vw solid white;

    color: white;
    text-align: center;
    font-size: xx-large;
}

.points-category h2 {
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

.points-category h3 {
    font-size: 1.5vw;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}